.container {
    width: 80%;
    max-width: 1000px;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 20%;

}
.project {
    background:transparent;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 20px 30px 30px rgba(130, 194, 27, 0.1);
}
.project img {
    width: 100%;
    border-radius: 8px;
}
.project h3 {
    margin-top: 15px;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 2, 1fr;
    }
}